<!--The content below is only a placeholder and can be replaced.-->



<div class="container">
  
    
  <div class="jumbotron">


    <h1>
     PPScore
    </h1>

    <h2>

        Mes Petits Jeux

    </h2>

  </div>


  <app-score></app-score>


  <div class="panel panel-primary">

    <div class="panel-heading">

      CREATE

    </div>

    <div class="panel-body">
       
      <app-game-form></app-game-form>
        
    </div>

  </div>



  <div class="panel panel-primary">
      
          <div class="panel-heading">
      
            JEUX
      
          </div>
      
          <div class="panel-body">
             
              <app-game-list></app-game-list>
              
          </div>
      
    </div>

  

    <div class="panel panel-primary">
        
            <div class="panel-heading">
        
              SCORES
        
            </div>
        
            <div class="panel-body">
               
                <app-game-leaderboard></app-game-leaderboard>
                
            </div>
        
      </div>



</div>


